/* 
    Created on : 24-abr-2018, 18:22:11
    Author     : Javier
*/


$base_color:#1041A2;
$color_primary: #005EA5;
$color_primary_active: #199BFF;
$color_secondary: #A56400;
$color_secondary_active: #F29200;